#map {
    height: 100%;
}

.ui-content {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 !important;
}

.popups {
    display: none;
}

.pop_elem {
    font-family: 'Lato', Helvetica, sans-serif;
}

ul.pop_elem {
    list-style-type: none;
}

span.ritr {
    display: block;
    margin-top: 5px;
}

span.inte {
    margin-left: 5px;
}

.single_comment{
    border: 1px solid #DDDDDD;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    
     
}
.view_text_comment{
    float:left;
    
}
.properties_comment{
    float:right;
}

.user_comment{
    font-size:80%;
    font-weight: bold;
  
}
.data_hours{
    font-size:80%;
    color: gray;
    
    
}

.like_button{
    float:left;   
}

.like_dislike{
    float: left;
    font-size:90%;
    padding: 0.9em;
    font-weight: bold;    
}
.plus{
    color: #03C03C;
}
.minus{
    color: #D21F1B;
    
}
.counter_like{
    color: #03C03C;
}
.counter_dislike{
    color: #D21F1B;
}
.ui-icon-like:after {
	background-image: url("like_18x18_senza_sfondo.png");
    background-size: 18px 18px;
    box-shadow: none;
}
.ui-icon-dislike:after {
	background-image: url("dislike_18x18_senza_sfondo.png");
    background-size: 18px 18px;
    box-shadow: none;
}

