#map {
    height: 100%;
}

.ui-content {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 !important;
}

.hidden {
    display: none;
}

.pop_elem {
    font-family: 'Lato', Helvetica, sans-serif;
}

ul.pop_elem {
    list-style-type: none;
}

span.ritr {
    display: block;
    margin-top: 5px;
}

#addcontent{
    
}
    

#layout_contents{
    
    
    
}

span.inte {
    margin-left: 5px;
}

#info_json_punto{
    color: #C80815;
    
}

#info_json_area{
    color: #964B00;		
    
}


<!-- SPAZIO COMMENTI -->

#contents{
    float:left;
    
}

#collapse_contents{
    

    
}

.single_comment{
    
    float:left;
    clear: both;
    
    border: 1px solid #DDDDDD;
    padding: 0.4em;
    margin: 0.2em;
    border-radius: 10px 10px 10px 10px;
}

.view_text_comment{
    display: block;
    float: left;
    
    
    
    
}
.info_comment{
    float: left;
    display: block;
    clear: both;
        
    
}
.comment_properties{
    float:right;
    padding: 0.6em;
}

.comment_user{
    font-size:80%;
    font-weight: bold;
}

.data_hours{
    font-size:80%;
    color: gray;
}
.layout_like_dislike{
    float:left;
    
}

.like_button{
    float: left;
}

.like_dislike{
    float: left;
    font-size:90%;
    padding: 0.9em;
    font-weight: bold;
}

.counter_like{
    color: #03C03C;
}

.counter_dislike{
    color: #D21F1B;
}

.ui-icon-like:after {
    background-image: url("like_18x18_senza_sfondo.png");
    background-size: 18px 18px;
    box-shadow: none;
}

.ui-icon-dislike:after {
    background-image: url("dislike_18x18_senza_sfondo.png");
    background-size: 18px 18px;
    box-shadow: none;
}

#important{
    
    clear:both;
    
}

#register_error{
    text-align: center;
    border: 1px solid #DDDDDD;
    padding: 0.4em;
    margin: 0.2em;
    border-radius: 10px 10px 10px 10px;
}

#login_situation{
    text-align: center;
    border: 1px solid #DDDDDD;
    padding: 0.4em;
    margin: 0.2em;
    border-radius: 10px 10px 10px 10px;
    
}