#map {
    height: 100%;
}

.ui-content {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 !important;
}

.popups {
    display: none;
}

.pop_elem {
    font-family: 'Lato', Helvetica, sans-serif;
}

ul.pop_elem {
    list-style-type: none;
}

span.ritr {
    display: block;
    margin-top: 5px;
}

span.inte {
    margin-left: 5px;
}

.single_comment{
    border: 1px solid #DDDDDD;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    
     
}

.user_comment{
    font-size:80%;
    font-weight: bold;
  
}
.data_hours{
    font-size:80%;
    color: gray;
    
    
}
