Flask>=0.10.1
Flask-SQLAlchemy>=1.0
Flask-Restless>=0.13.1
passlib>=1.6.2
SQLAlchemy>=0.9.7
psycopg2>=2.5.3
requests>=2.3.0

Jinja2>=2.7.3
Pillow>=2.5.3
Werkzeug>=0.9.6
itsdangerous>=0.24
mimerender>=0.5.4
python-dateutil>=2.2
